* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

div {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(243, 243, 227);
}

a {
    margin-left: 3rem;
}

.short-description {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 2rem;
}

.second-description {
    font-size: 19px;
}

img {
    width: 600px;
    height: auto;
    justify-self: center;
}